<%- include('../includes/head.ejs') %>

  </head>

  <body>

    <%- include('../includes/navigation.ejs') %>


      <div class="b-example-divider b-example-vr"></div>
      <div class="container-fluid">

        <div class="row">
          <!-- <div class="w-100"></div> -->
          <div class="col-8 offset-md-2">
            <h1>Hotspot User List</h1>

            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Handle</th>
                  <th scope="col">Last</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% userInformation.map(user=> { %>
                  <tr>
                    <th scope="row"><i class="bi bi-person-fill" color:red></i></th>
                    <td><a href="/admin/userlist/<%=user.user %>" class="btn btn-outline-info"><%=user.user %></a></td>
                    <td><%=user.profile %></td>
                    <td><%=user.uptime %></td>
                    <td><a href="/admin/editUser/<%= user.user %>?edit=true" class="btn btn-outline-primary">Edit</a></td>
                  <td>
                      <form action="/admin/removeuser" method="POST">
                          <input type="hidden" value="<%= user.id %>" name="uId">
                          <button class="btn btn-outline-danger" type="submit">Remove</button>
                      </form>
                  </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <%- include('../includes/end.ejs') %>